@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
  }
  

/* shared styles */
.text-light-gray{
    color: rgba(39, 39, 39, 0.6);
}
.btn-primary{
    width: 179px;
    height: 64px;
    padding: 20px 43px;
    background-color: #E55473;
    color: #FFFFFF;
    gap: 10px;
    border-radius: 8px;
    border: none;
    margin-top: 32px;
    margin-bottom: 147px;
    font-size: 1.25rem;
    font-weight:500;
}
.primary-bg-color{
    background-color: rgba(229, 84, 115, 0.1);
}


/* Header section styles */
.header-container{
    width: 1920px;
    display: flex;
}
    
   
.header-left{
    width: 708px;
    /* height: 506px; */
    gap: 32px;
    margin: 197px 97px 147px 240px;
}
.header-title{
    width: 708px;
    font-size: 5rem;
    font-weight: 800;
    color: #272727;
     
}
.header-description{
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
}
.header-right{
    width: 635px;
    height: 800px;
    margin: 50px 240px 0 97px;
}
.header-img{
    width: 100%;
}

/* feature-section styles */
.feature-info{
    width: 594px;
    gap: 24px;
    margin: 178px 663px 48px 663px;
}
.feature-title{
    font-size: 2.5rem;
    font-weight: 800;
    color: #272727;
    margin-bottom: 24px;
}
.feature-description{
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
}
.middle-1{
    position: relative;
   left: -60px;
}
.middle-2{
    position: relative;
   left: 50px;
}
.feature-img{
    width: 1440px;
    margin: 48px 240px 128px 240px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.feature-img-1{
    width: 464px;
    background-color: rgba(167, 33, 98, 0.15);
    border: none;
    border-top-left-radius:280px ;
    border-top-right-radius:280px ;
}
.feature-image-1{
    width: 310px;
    height: 428px;
    margin: 110px 78px 0 76px;
}
.feature-img-2{
    width: 464px;
    background-color: rgba(5, 151, 160, 0.15);
    border: none;
    border-top-left-radius:280px ;
    border-top-right-radius:280px ;
}
.feature-image-2{
    width:370px ;
    height:370px;
    margin: 117px 47px 51px 47px;
}
.feature-img-3{
    width: 464px;
    background-color: rgba(71, 125, 17, 0.15);
    border: none;
    border-top-left-radius:280px ;
    border-top-right-radius:280px ;
}
.feature-image-3{
    width: 314px;
    height: 471px;
    margin: 67px 75px 0 75px;
}
.fig-caption{
     
    font-size: 1.5rem;
    font-weight:500 ;
    
    margin: 32px 144px;
    text-decoration: underline gray;
}
     

    


















/* responsive for small device */
@media screen and (max-width:576px) {
    .header-container{
        flex-direction: column;
        
         
    }
    
}