@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
  }
  

/* shared styles */
.text-light-gray{
    color: rgba(39, 39, 39, 0.6);
}
.btn-primary{
    width: 179px;
    height: 64px;
    padding: 20px 43px;
    background-color: #E55473;
    color: #FFFFFF;
    gap: 10px;
    border-radius: 8px;
    border: none;
    margin-top: 32px;
    margin-bottom: 147px;
    font-size: 1.25rem;
    font-weight:500;
}
.primary-bg-color{
    background-color: rgba(229, 84, 115, 0.1);
}


/* Header section styles */
.header-container{
    width: 1920px;
    display: flex;
}
    
   
.header-left{
    width: 708px;
    /* height: 506px; */
    gap: 32px;
    margin: 197px 97px 147px 240px;
}
.header-title{
    width: 708px;
    font-size: 5rem;
    font-weight: 800;
    color: #272727;
     
}
.header-description{
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
}
.header-right{
    width: 635px;
    height: 800px;
    margin: 50px 240px 0 97px;
}
.header-img{
    width: 100%;
}

/* feature-section styles */
.feature-info{
    width: 594px;
    gap: 24px;
    margin: 178px 663px 48px 663px;
}
.feature-title{
    font-size: 2.5rem;
    font-weight: 800;
    color: #272727;
    margin-bottom: 24px;
}
.feature-description{
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
}
.middle-1{
    position: relative;
   left: -60px;
}
.middle-2{
    position: relative;
   left: 50px;
}
.feature-img{
    width: 1440px;
    margin: 48px 240px 128px 240px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.feature-img-1{
    width: 464px;
    background-color: rgba(167, 33, 98, 0.15);
    border: none;
    border-top-left-radius:280px ;
    border-top-right-radius:280px ;
}
.feature-image-1{
    width: 310px;
    height: 428px;
    margin: 110px 78px 0 76px;
}
.feature-img-2{
    width: 464px;
    background-color: rgba(5, 151, 160, 0.15);
    border: none;
    border-top-left-radius:280px ;
    border-top-right-radius:280px ;
}
.feature-image-2{
    width:370px ;
    height:370px;
    margin: 117px 47px 51px 47px;
}
.feature-img-3{
    width: 464px;
    background-color: rgba(71, 125, 17, 0.15);
    border: none;
    border-top-left-radius:280px ;
    border-top-right-radius:280px ;
}
.feature-image-3{
    width: 314px;
    height: 471px;
    margin: 67px 75px 0 75px;
}
.fig-caption{
     
    font-size: 1.5rem;
    font-weight:500 ;
    
    margin: 32px 144px;
    text-decoration: underline gray;
}   

/* delivery-section styles */
.delivery-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1440px;
    background-color: rgba(39, 39, 39, 0.05);
    border-radius: 2px;
    border: none;
    margin: 128px 240px;
    /* gap: 100px; */
}
.delivery-img-1{
    width: 372px;
    margin: 86px 100px 87px 175px;
    
}
     
.delivery-img-2{
    width: 316px;
    margin: 86px 100px 87px 0;
    
}
     
.delivery-img-3{
    width: 202px;
    margin: 86px 175px 87px 0;
   
}
.delivery-image{
    width: 88px;
    height: 88px;
    margin: 0px auto;
}
.delivery-description-1{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 35px;
    color: rgba(39, 39, 39, 0.8);
    margin-top: 24px;
    position: relative;
    left: -120px;
}
.delivery-description-2{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 35px;
    color: rgba(39, 39, 39, 0.8);
    margin-top: 24px;
    position: relative;
    left: -120px;
}
.delivery-description-3{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 35px;
    color: rgba(39, 39, 39, 0.8);
    margin-top: 24px;
    position: relative;
    left: -40px;
}

/* deal-section styles */
.deal-container{
    display: flex;
    width: 1920px;
    background-color: rgba(229, 84, 115, 0.05);
    border-radius: 8px;
}
.deal-info{
    width: 600px;
    margin: 230px 186px 162px 395px;
}
.deal-title{
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
    color: #272727;
}
.off{
    color: #E55473;
}
.deal-description{
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.6);
    margin-bottom: 32px;
}
.middle{
    position: relative;
    left: 100px;
}
#btn-specific{
    width: 155px;
    margin-top: 0;
    margin-bottom: 162px;
    position: relative;
    left: 175px;
}
.deal-img{
    width: 318px;
    height: 420px;
     margin: 100px 429px 100px 0;
}

/* instagram-section styles*/

.instagram-container{
width: 600px;
row-gap: 24px;
margin: 128px 663px 48px 663px;
}
.instagram-title{
    font-size: 2.5rem;
    font-weight: 800;
    color: #272727;
    margin: 0 150px;
}
.instagram-description{
    font-size: 1.125rem;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
    line-height: 30px;
}
.middle-2{
    position: relative;
    left: 100px;
}
.instagram-img-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    width: 1440px;
    margin: 50px auto;
}
.instgram-img{
    width: 342px;
    height: 396px;
}

/* latest-deal-section styles */
.latest-deal-container{
    width: 1440px;
    height: 449px;
    
    margin: 128px auto;
    border-radius: 8px;
    background-image: url('Flower Asset/Rectangle\ 9.png');
}
.latest-deal-info{
    width: 866px;
    height: 256px;
    padding: 80px 287px;
  
     
}
.latest-deal-title{
    font-size: 2.5rem;
    font-weight: 800;
    color: #272727;
    position: relative;
    left: 240px;
    margin-top: 0;
    margin-bottom: 0;
      
}
.latest-deal-description{
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.6);
    position: relative;
    left: 310px;
}
.natok{
    display: flex;
    gap: 16px;
}
.input-email{
    width: 866px;
    height: 64px;
}
.btn-sp{
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 500;
    width: 88px;
    width: 150px;
    height: 70px;
    background-color: #E55473;

}

/* footer-section styles */
.footer-device{
    background-color: #111010;
    width: 1920px;
    height: 450px;
   
    gap: 32px;
    /* padding: 150px 800px; */
}
 
.flower{
    color: #E55473;
}
    
.footer-title{
    /* margin-top: 0; */
    margin-bottom: 0;
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
     text-align: center;
     position: relative;
     top: 150px;
     
     
}
.footer-description{
    
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    position: relative;
    top: 140px;
}
 
     
 
.text-light-one{
    color: rgba(255, 255, 255, 0.4);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    position: relative;
    top:150px ;
}
    
    





     

    


















/* responsive for small device */
@media screen and (max-width:576px) {
    .header-container{
        flex-direction: column;
        
         
    }
    
}